/* --- HOME / HERO SECTION ---------------------------------*/
.hero-banner {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  background:
    linear-gradient(rgba(10, 11, 16, 0.4), rgba(10, 11, 16, 1.5)),
    url("./../images/homeBackground.webp") no-repeat center center / cover;
  background-attachment: fixed;
}
.hero-content h1 {
  font-size: clamp(2rem, 8vw, 4rem);
  line-height: 1.2;
  margin: 15px 0;
}

.hero-content span {
  color: var(--primary-orange);
}

.hero-content p {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--text-muted);
  max-width: 600px;
  margin: 0 auto;
}



.home-social-icons {
  display: inline-flex;
  gap: 25px;
  margin-top: 20px;
}

.home-social-icons a {
  width: 35px;
  height: 35px;
  background: var(--bg-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-muted);
  transition: 0.3s;
}

.home-social-icons a:hover {
  background: var(--primary-orange);
  color: white;
}
