/* --- HOME / HERO SECTION ---------------------------------*/
.hero-banner {
  background:
    linear-gradient(rgba(10, 11, 16, 0.5), rgba(10, 11, 16, 1)),
    url("./../images/homeBackground.webp")
    no-repeat center center/cover fixed;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  background-position-x: 0;
  z-index: 1;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 15px 0;
}

.hero-content h1 span {
  color: var(--primary-orange);
}

.hero-content p {
  font-size: 1.2rem;
  color: var(--text-muted);
  max-width: 600px;
  margin: 0 auto;
}