/* --- PROJECTS SECTION ---------------------------------*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.project-card {
  background: var(--bg-card);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: rgba(255, 107, 74, 0.3);
}

.project-img-wrapper {
  height: 250px;
  overflow: hidden;
}

.project-img-wrapper img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transition: 0.5s;
}

.project-card:hover .project-img-wrapper img {
  transform: scale(1.05);
}

.project-info {
  padding: 25px;
}

.project-category {
  color: var(--primary-orange);
  font-size: 0.85rem;
  font-weight: bold;
}

/*--- Read More (With Smooth Transition) ---------------------------------*/
.toggle-checkbox {
  display: none;
}

.summary-wrapper {
  margin-bottom: 12px;
}

.summary-text {
  /* Set max-height to fit around 2 lines of text */
  max-height: 3em; /* 2 lines * 1.5 line-height = 3em */
  line-height: 1.5;
  overflow: hidden;
  margin-bottom: 8px;
  color: var(--text-muted);
  font-size: 0.95rem;

  /* Smooth transition for expanding and collapsing */
  /* transition: max-height 3s ease-in-out, opacity 0.3s ease-in-out; */
  transition:
    max-height 0.2s ease-out,
    opacity 0.2s ease-out;

  /* Optional fade-out mask at the bottom when collapsed */
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

/* Expanded state applied by JS */
.summary-wrapper.is-expanded .summary-text {
  max-height: 500px;

  /* SLOW EXPANSION (Read More) */
  /* Runs slowly when expanding open */
  transition:
    max-height 1.2s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.8s ease;
  mask-image: none;
  -webkit-mask-image: none;
}

.read-more-btn {
  color: var(--text-muted);
  display: block;
  text-align: right;
  cursor: pointer;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 14px;
  transition: color 0.2s ease;
}

.read-more-btn:hover {
  color: var(--primary-orange);
}

.read-more-btn::before {
  content: "Read more...";
}

.summary-wrapper.is-expanded .read-more-btn::before {
  content: "Read less";
}

.project-info h3 {
  margin: 10px 0;
  font-size: 1rem;
}

.project-info a {
  width: fit-content;
}

.project-link {
  color: var(--primary-orange);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
